/* -----------------------------------------------------------
 Shape
-------------------------------------------------------------*/
.ui.cube.shape .side {
    height: 800px;
}


/*-----------------------------------------------------------
 General Styles 
-------------------------------------------------------------*/
/* body {color: #111;font-family: 'Poppins', sans-serif;font-size: 14px;font-weight: 400;overflow-x: hidden;height: 100%} */
dl,dt,dd,ol,ul,li {margin: 0;padding: 0;}
a {color: #333;text-decoration: none;position: relative;transition: all 0.3s;}
img {max-width: 100%;}
.pad-50 {padding-top: 50px; padding-bottom: 50px; }
.pad-125 {padding-top: 125px; padding-bottom: 125px; }
.pad-top-50 {padding-top: 50px; }
section {position: relative; }
.bg-lightblue {background-color: #f4f8fb; }
.bg-pattern-2 {background-image: url(../images/bg-pattern-2.jpg); background-repeat: repeat; background-size: cover; }
.has-animation {opacity: 0;-webkit-transition:  transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s;transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s; -webkit-transition:translateY(80px);transform: translateY(80px);}
.has-animation.animate-in {opacity: 1;-webkit-transition:translateY(0px);transform: translateY(0px);}

h1 {font-size: 40px;}
h2 {font-size: 32px;}
p {color: #111;font-size: 16px;font-weight: 400;line-height: 32px;margin-bottom: 0;}
li {font-size: 13px;font-weight: 400;line-height: 30px;}


/*-----------------------------------------------------------
 Page Loader 
-------------------------------------------------------------*/
#loader-wrapper {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 1000;overflow: hidden;}
#loader-wrapper .loader-section {position: fixed;top: 0;width: 50%;height: 100%;overflow: hidden;background: #fff;color: rgba(0, 0, 0, 0.9);z-index: 1000;-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);}
#loader-wrapper .loader-section.section-left {left: 0;}
#loader-wrapper .loader-section.section-right {right: 0;}
.loaded #loader-wrapper .loader-section.section-left {-webkit-transform: translateX(-100%);-ms-transform: translateX(-100%);transform: translateX(-100%);-webkit-transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);}
.loaded #loader-wrapper .loader-section.section-right {-webkit-transform: translateX(100%);-ms-transform: translateX(100%);transform: translateX(100%);-webkit-transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);}.loaded #loader-wrapper .loader-img {-webkit-transform: translateY(-100%);-ms-transform: translateY(-100%);transform: translateY(-100%);-webkit-transition: all 0.2s 0.3s ease;transition: all 0.2s 0.3s ease;   }
.loaded #loader-wrapper {visibility: hidden;-webkit-transform: translateY(-100%);-ms-transform: translateY(-100%);transform: translateY(-100%);-webkit-transition: all 0.3s 1.5s ease-out;transition: all 0.3s 1.5s ease-out;}

/*-----------------------------------------------------------
 Top Header
-------------------------------------------------------------*/
.top-header h1 {font-size: 70px; line-height: 80px; color: #000; font-weight: bold; margin-bottom: 20px; margin-top: 25px; }
.top-header p { font-size: 32px; color: #000; font-weight: 300; line-height: 48px; margin-bottom: 10px;   }
.top-header.style-one {margin:30px; margin-bottom: 0; }
.top-header.style-two .avatar-img,.top-header.style-one .avatar-img {border:10px #fff solid; border-radius: 100%; width: 400px; }


/*-----------------------------------------------------------
 Header Wrapper
-------------------------------------------------------------*/
.header-wrapper {padding: 13px 0;  }
.header-wrapper:before{ content: "";width: 100%;height: 2px;top: 0px;left: 0;position: absolute;z-index: -2;background: linear-gradient(to right,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -ms-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -o-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-linear-gradient(left,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -moz-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-gradient(linear,left top,right top,color-stop(0%,#FFF),color-stop(35%,#eeeeee),color-stop(65%,#eeeeee),color-stop(100%,#FFF));}
.header-wrapper:after{ content: "";width: 100%;height: 2px;bottom: 0px;left: 0;position: absolute;z-index: -2;background: linear-gradient(to right,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -ms-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -o-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-linear-gradient(left,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -moz-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-gradient(linear,left top,right top,color-stop(0%,#FFF),color-stop(35%,#eeeeee),color-stop(65%,#eeeeee),color-stop(100%,#FFF));}
#main-menu {padding-top: 7px; }
#main-menu ul li {padding: 0 18px; display: inline-block; position: relative;}
#main-menu ul li a {font-size: 16px; font-weight: 400; text-transform: uppercase;  color: #000; line-height: 42px;letter-spacing: 0.7px; }
#main-menu ul li:after {background-color: #333;border-radius: 100%;  width: 4px; height: 4px;     bottom: 18.8px;    right: -3px; content: ''; position: absolute; content: ''; }
#main-menu ul li:last-child:after {display: none; }


.menu-click {display: none; float: right; position: relative; width: 30px; height: 20px; margin-top: 12px; margin-right: 5px; }


/*-----------------------------------------------------------
 Footer Wrapper
-------------------------------------------------------------*/
.footer-wrapper {}
.footer-wrapper .widget-over {background-color: #FFF; }
.footer-wrapper .widget-over:after {content: ''; height: 75px; width: 100%; background-color: #fff; top:100%; left:0; position: absolute;}
.footer-wrapper .widget-over:before {content: ''; height: 75px; width: 100%; background-color: #fff; bottom:100%; left:0; position: absolute;}
.footer-wrapper .widget-over .subscribe-form {width: 100%; margin-bottom: 10px; }
.footer-wrapper .widget-over .back-top {margin-top: 15px; }
.footer-wrapper .social-share li { font-size: 16px; margin-right: 20px; }
.footer-wrapper .social-share li a i {color: #333; }
.widget-title {  font-size: 14px;line-height: 44px;color: #000;font-weight: 500; margin-bottom: 30px; text-transform: capitalize; }
.widget-title2 {  font-size: 16px; letter-spacing: 1px; margin-top: 7px;  display: inline-block; line-height: 26px;color: #000;font-weight: 500; margin-bottom: 30px; text-transform: uppercase; }
.widget-title3 {font-size: 18px; font-weight: 600; letter-spacing: 1px; margin-bottom: 35px; display: inline-block;}

.footer-wrapper .widget-link-2 li a {margin-right: 20px; font-size: 14px; font-weight: 400; color: #000;}
.widget-link li {width: 100%; float: left; position: relative; display: block;}
.widget-link li a {font-size: 16px; line-height: 45px; color: #000; font-weight: 300; }
.footer-wrapper .widget-text {font-size: 16px; line-height: 34px; color: #000; font-weight: 300; letter-spacing: 0.2px; margin-top: 5px; margin-bottom: 15px; display: inline-block;}
.widget p {font-size: 16px; line-height: 32px; color: #333; font-weight: 300; }
.subscribe-form {border-bottom: 1px solid #ccc; width: 100%; margin-top: 25px; display: table;   }
.subscribe-form input {width: 65%; background: transparent; float: left; line-height: 40px; outline: none; border:0; padding:0; font-size: 12px; color: #555;}
.subscribe-form button {float: right; width: 30%; background-color: transparent;text-align: right; color: #111; font-size: 16px;  outline: none; border:0; line-height: 40px; padding: 0; }
.subscribe-form-two {position: relative;  padding:100px 0;  background-color: #111; }
.subscribe-form-two .headline {font-size: 20px; letter-spacing: 1px;  font-weight: 400; color: #fff;}
.subscribe-form-two form { border-bottom: 1px #ccc solid ; width: 430px; margin: 0 auto; }
.subscribe-form-two input {width: 75%; float: left;  background-color: transparent; border:0; line-height: 45px; height: 45px; display: inline-block;  margin-right: 0; }
.subscribe-form-two button {padding: 0;  text-align: right; width: 25%; line-height: 45px; display: inline-block; background-color: transparent; border:0; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 12px; letter-spacing: 2px;  }
.subscribe-form-two .back-top {margin-top: 70px; }
.copyright-text {font-size: 16px; line-height: 28px; color: #111; font-weight: 300;}
.back-top { font-size: 14px; font-weight: 600; color: #111; margin-top: 45px; display: block; letter-spacing: 1px;  }
.icon-back {border: 1px solid #ccc; }
.icon-back img {width: 45px; }
.social-icons-two {margin-bottom: 35px; }
.social-icons-two li:not(:last-child) {margin-right: 30px;}
.social-icons-two li a {display: inline-block;}
.social-icons-two li a i {background-image: url(../images/icon-2.png); background-repeat: no-repeat; background-size: inherit; width: 26px; height: 26px; display: inline-block;}
.social-icons-two li a i.icon-google-plus {background-position: 0 0; }
.social-icons-two li a i.icon-facebook {background-position: -60px 0;}
.social-icons-two li a i.icon-twitter {background-position: -120px 0;}
.social-icons-two li a i.icon-linedin {background-position: -180px 0;}
.social-icons-two li a i.icon-instagram {background-position: -250px 0;}
.footer-wrapper.style-2 .widget-link li a {font-size: 14px;line-height: 44px;color: #000;font-weight: 400;/* text-transform: uppercase; */letter-spacing: 0.4px;}
.footer-wrapper.style-2 button i {color: #555; font-size: 12px; }
.footer-wrapper p {font-size: 14px;line-height: 30px;color: #000;font-weight: 400;/* text-transform: uppercase; */letter-spacing: 0.4px; margin-right: 0; }
.footer-wrapper.bgc-top:after {content: '';position: absolute;background-color: #f4f8fb;bottom: 100%;left: 0;width: 100%;height: 150%;z-index: -1;}